html,body {
	padding: 0;
	margin: 0;
	height:100%
	
}
#plat{
	position:relative;
	top:50%;
	left:50%;
	margin-left: -160px;
	margin-top: -75px;
	
}

.circle {
	position: absolute;
	width: 100px;
	height: 100px;
	border: 6px solid red;
	/* CSS3 */
	border-radius: 50%;
	/* CSS3 */
	box-sizing:border-box;

}

.circle1 {
	border-color: red;
	z-index: 5;
}

.circle2 {
	border-color: green;
	top: 0;
	left: 110px;
	z-index: 3;
}

.circle3 {
	border-color: yellow;
	top: 0;
	left: 220px;
}

.circle4 {
	border-color: blue;
	top: 50px;
	left: 55px;
	z-index: 4;
}

.circle5 {
	border-color: black;
	top: 50px;
	left: 165px;
}

.
